.site-layout-content {
    min-height: 280px;
    padding: 24px;
    background: rgba(0, 100, 58, 0.75);
    max-width: 600px;
    margin: auto;
}
#components-layout-demo-top .logo {
float: left;
width: 120px;
height: 31px;
margin: 16px 24px 16px 0;
background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
float: right;
margin: 16px 0 16px 24px;
}

.done {
    text-decoration-line: line-through;
    opacity: .4;
}

body {
    background-image: url('./assets/wallpaper.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

.ant-layout {
    background: none;
    

}
.ant-layout-footer {
    background: none;
    color:#fff;
    font-weight: 600;

}

.ant-list-bordered {
    border: 1px solid white;
}
.ant-list-item {
    color: #fff;
}

*{
    color: #fff;
    font-family: 'Lucida Sans';
}

.label {
    color: #fff;
    font-family: 'Lucida Sans';
}

.ant-form-item-label > label {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    height: 32px;
    color: white;
    font-size: 14px;
    font-family: 'Lucida Sans';
}
.ant-btn-primary {
    color: rgb(218, 255, 217);
    background: #066d02;
    border-color: #000000;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    -webkit-box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}

.ant-list-item {
    cursor: pointer;

}
.ant-menu.ant-menu-dark {
    background: none;
}
.ant-layout-header {
    background: rgba(0, 100, 58, 0.75);
}
