.site-layout-content {
    min-height: 280px;
    padding: 24px;
    background: rgba(0, 100, 58, 0.75);
    max-width: 600px;
    margin: auto;
}
#components-layout-demo-top .logo {
float: left;
width: 120px;
height: 31px;
margin: 16px 24px 16px 0;
background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
float: right;
margin: 16px 0 16px 24px;
}

.done {
    text-decoration-line: line-through;
    opacity: .4;
}

body {
    background-image: url('./assets/wallpaper.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.ant-layout {
    background: none;

}
.ant-layout-footer {
    background: none;
    color:#fff;
    font-weight: 600;

}

.ant-list-bordered {
    border: 1px solid white;
}
.ant-list-item {
    color: #fff;
}

.ant-form-item-required {
    color:#fff;
}